.donate-paragrapg{
   padding: 0 5rem;}
            /*1*/
            .banner-content {
               position: absolute;
               top: 80%;
               left: 50%;
               text-align: center;
               transform: translate(-50%, -50%);
      
            }
            .buy{
               font-size: 12px;
               padding: 5px 8px;

            }
            .learn{
               font-size: 12px;
               padding: 5px 8px;
            }
      
            .b-title {
      
               font-size: 24px;
            }
      
            .b-parag {
      
               font-size: 16px;
      
            }
              
      
      
      
            /*2*/
            .banner-content2 {
              
      
            }
                    
      
      
      
            /*3*/
            .banner-content3 {
               
            }
      
            .b-title3 {
               
               font-size: 24px;
      
            }
      
            .b-parag3 {
             
               font-size: 16px;
               
      
            }
                               
      
      
      
      
      
      
            .apple {
               color: black;
      
               width: 35px;
               height: 35px;
            }
      
            /*4*/
            .banner-content4 {
              top: 25%;
      
               
      
      
            }
      
            .b-title4 {
      
               font-size: 24px;
      
            }
      
            .b-parag4 {
      
               font-size: 18px;
               margin-left: 30px;
      
            }
      
            .b-onus4 {
      
               font-size: 12px;
               margin-left: 30px;
      
            }
                        
      
      
      
            /*5*/
            .banner-content5 {
              
      
            }
      
            /*6*/
            .banner-content6 {
               
             
      
            }
      
            .b-title6 {
               
               font-size:24px;
            }
      
            .b-parag6 {
               
               font-size: 18px;
               
      
            }
      
      
      
            /*7*/
            .banner-content7 {
               top: 25%;
               
               
            }
      
            .b-title7 {
               
               font-size: 24px;
      
            }
      
            .b-onus7 {
               
               font-size: 14px;
               
            }
      
            .b-parag7 {
               
               font-size: 18px;
               
            }
      
            
      
            .b-parag7 {
               
               font-size: 18px;
               
      
            }
      
            /*8*/
            .banner-content8 {
               top: 25%;
               
            }
      
            /*9*/
            .banner-content9 {
               
               top: 25%;
               
            }
            