    /*1*/
    .banner-content {
       
    }

    .b-title {

        font-size: 20px;
    }

    .b-parag {

        font-size: 14px;

    }

    .learn {
        

       
    }

    .buy {
        
        
    }

    .buy:hover {
     
    }



    /*2*/
    .banner-content2 {
        

    }

    .learn2 {

        
    }

    .buy2 {
        
    }

    .buy2:hover {
        
       
    }



    /*3*/
    .banner-content3 {
       

    }

    .b-title3 {

        font-size: 20px;

    }

    .b-parag3 {

        font-size: 14px;


    }
        .buttons3 {
            margin-top: 0px;
            margin-left: 0px;
        }

    .learn3 {

        
    }

    .buy3 {
        
      
    }

    .buy3:hover {
     
    }






    .apple {
        color: black;

        width: 35px;
        height: 35px;
    }

    /*4*/
    .banner-content4 {

       


    }

    .b-title4 {

        font-size: 20px;

    }

    .b-parag4 {

        font-size: 14px;
        margin-left: 30px;

    }

    .b-onus4 {

        font-size: 12px;
        margin-left: 30px;
        margin-top: 5px;

    }
.buttons3 {
    margin-top: 0px;
    margin-left: 30px;
}
    .learn4 {

    }

    .buy4 {
        
    }

    .buy4:hover {
        
    }



    /*5*/
    .banner-content5 {
      

    }

    /*6*/
    .banner-content6 {
      
    }

    .b-title6 {

        font-size: 20px;
    }

    .b-parag6 {

        font-size: 14px;


    }



    /*7*/
        .banner-content7 {
           
    
        }
    

    .b-title7 {

        font-size: 20px;

    }

    .b-onus7 {

        font-size: 14px;
        margin-top: 0;

    }

    .b-parag7 {

        font-size: 18px;
        margin-top: 0;

    }



    .b-parag7 {

        font-size: 18px;


    }

    /*8*/
    .banner-content8 {
;

    }

    /*9*/
    .banner-content9 {


    }
    